@font-face {
  font-family: myFont;
  src: url(../fonts/lion_king.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .container nav {
  background: #1d2958;
  display: flex;
  align-items: center;
  font-family: myFont;
  justify-content: space-evenly;
}
body .container nav .logo {
  padding: 15px 0;
}
body .container nav .logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
body .container nav .logo a img {
  width: 60px;
}
body .container nav .logo a p {
  padding-left: 10px;
  font-size: 30px;
  color: #fff;
}
body .container nav .logo a p strong {
  color: #ffffff;
}
body .container nav ul {
  display: flex;
  color: #ffffff;
  list-style: none;
  align-items: center;
}
body .container nav ul li {
  font-size: 18px;
  position: relative;
  z-index: 1;
  padding: 34px 0;
}
body .container nav ul li a {
  text-decoration: none;
  color: #ffffff;
  margin: 20px !important;
}
body .container nav ul li .subBar {
  display: none;
  z-index: -1;
  letter-spacing: 1px;
  margin-top: 36px;
  position: absolute;
  width: 300px;
  height: 220px;
  left: -100px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 10px 0;
  top: 100px;
  -webkit-animation-name: subBarAni;
          animation-name: subBarAni;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
body .container nav ul li .subBar li {
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  font-size: 15px;
}
body .container nav ul li .subBar li:first-child {
  padding: 15px;
}
body .container nav ul li .subBar li a {
  text-decoration: none;
  color: #1d2958;
  padding: 15px;
}
body .container nav ul li:hover > .subBar {
  display: block;
  top: 48px;
}
body .container nav .contactNumber p {
  font-size: 25px;
  color: #ffffff;
}
body .container nav .contactNumber p strong {
  color: #ec1e67;
}

@-webkit-keyframes subBarAni {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subBarAni {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 950px) {
  body .container nav .logo a img {
    width: 50px;
  }
  body .container nav .logo a p {
    padding-left: 10px;
    font-size: 25px;
  }
  body .container nav ul li {
    font-size: 15px;
    padding: 34px 0;
  }
  body .container nav ul li a {
    margin: 15px !important;
  }
  body .container nav ul li .subBar {
    left: -95px;
    height: 190px;
  }
  body .container nav ul li .subBar li {
    padding: 10px 0;
    font-size: 12px;
  }
  body .container nav ul li .subBar li:first-child {
    padding: 10px;
  }
  body .container nav ul li .subBar li a {
    padding: 10px;
  }
  body .container nav ul li:hover > .subBar {
    display: block;
    top: 48px;
  }
  body .container nav .contactNumber p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 949px) {
  body .container nav {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */