@font-face {
    font-family: myFont;
    src: url(../fonts/lion_king.ttf);
}

$primary-color: #1d2958;
$font-color: "#ffffff";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .container {
        nav {
            background: $primary-color;
            // background: red !important;
            display: flex;
            align-items: center;
            // font-family: myFont;
            font-family: myFont;
            justify-content: space-evenly;

            .logo {
                padding: 15px 0;

                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;

                    img {
                        width: 60px;
                    }

                    p {
                        padding-left: 10px;
                        font-size: 30px;
                        color: #fff;

                        strong {
                            color: #ffffff;
                        }
                    }
                }
            }

            ul {
                display: flex;
                color: #ffffff;
                list-style: none;
                align-items: center;

                li {
                    font-size: 18px;
                    position: relative;

                    // &:before {
                    //     content: "\00b0";
                    //     font-size: 40px;
                    //     line-height: -304px;
                    //     vertical-align: middle;
                    // }
                    // background: #000;
                    z-index: 1;
                    padding: 34px 0;

                    a {
                        text-decoration: none;
                        color: #ffffff;
                        margin: 20px !important;
                    }

                    .subBar {
                        display: none;
                        // display: block;
                        z-index: -1;
                        letter-spacing: 1px;
                        margin-top: 36px;
                        position: absolute;
                        width: 300px;
                        height: 220px;
                        left: -100px;
                        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                        padding: 10px 0;
                        top: 100px;
                        // transition: all .25s ease-in;
                        animation-name: subBarAni;
                        animation-duration: 0.5s;

                        li {
                            text-align: center;
                            padding: 10px 0;
                            cursor: pointer;
                            font-size: 15px;

                            &:first-child {
                                padding: 15px;
                            }

                            a {
                                text-decoration: none;
                                color: $primary-color;
                                padding: 15px;
                            }
                        }
                    }

                    &:hover>.subBar {
                        display: block;
                        top: 48px;
                    }
                }
            }

            .contactNumber {
                p {
                    font-size: 25px;
                    color: #ffffff;

                    strong {
                        color: #ec1e67;
                    }
                }
            }
        }
    }
}

// KEYFRAMS
@keyframes subBarAni {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    50% {
        // transform: translateY(30px);
        // opacity: 1;
        opacity: 0.5;
    }

    100% {
        // transform: translateY(-10px);
        opacity: 1;
    }
}

// MEDIA
@media only screen and (max-width: 1100px) and (min-width: 950px) {
    body {
        .container {
            nav {
                .logo {
                    a {
                        img {
                            width: 50px;
                        }

                        p {
                            padding-left: 10px;
                            font-size: 25px;
                        }
                    }
                }

                ul {
                    li {
                        font-size: 15px;
                        padding: 34px 0;

                        a {

                            margin: 15px !important;
                        }

                        .subBar {
                            left: -95px;
                            height: 190px;

                            li {
                                padding: 10px 0;
                                font-size: 12px;

                                &:first-child {
                                    padding: 10px;
                                }

                                a {
                                    padding: 10px;
                                }
                            }
                        }

                        &:hover>.subBar {
                            display: block;
                            top: 48px;
                        }
                    }
                }

                .contactNumber {
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

// FOR MOBILE DEVICE 